# 实验作业：一元线性回归分析（两题任选一题）

## 第一题

为了研究深圳市地方预算内财政收入与国内生产总值的关系，得到数据如下，

|年份|地方预算内财政收入Y|国内生产总值(GDP)X|
|---|---|---|
|1990|21.7037|171.6665|
|1991|27.3291|236.6630|
|1992|42.9599|317.3194|
|1993|67.2507|449.2889|
|1994|74.3992|615.1933|
|1995|88.0174|795.6950|
|1996|131.7490|950.0446|
|1997|144.7790|1130.0133|
|1998|164.9067|1289.0190|
|1999|184.7908|1436.0267|
|2000|225.0212|1665.4652|
|2001|265.6532|1954.6539|

资料来源：《深圳统计年鉴2002》，中国统计出版社

数据见路径: **"datasets/shenzhen.csv"**

（1）建立深圳地方预算内财政收入对GDP的回归模型；

（2）使用python回归工具估计所建立模型的参数，解释斜率系数的经济意义；

（3）绘制回归的图形；

## 第二题
利用Biddle&Hamermesh(1990)提供的数据集SLEEP75，研究在每周用于睡眠的时间和用于有酬工作的时间之间是否有替代关系。具体而言，估计以下模型：

$$
sleep = \beta_0 + \beta_1totwrk + \mu
$$

其中，$sleep$是每周用于晚上睡眠的分钟数，$totwrk$是这一周用于有酬工作的分钟数。

数据见路径: **"datasets/sleep75.csv"**

（1）利用已经学习的一元线性回归的Python方法来获得以上模型的参数

（2）解释当$totwrk$增加时，$sleep$会怎样变化。

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('datasets/sleep75.csv')

In [4]:
data

,age,black,case,clerical,constru,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,...,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,...,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.53,1936
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,...,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,...,1,2580,0,2580,0,44,0,33,2.75,4096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,1,2026,0,2026,0,27,0,18,.,2025
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,...,0,675,1,465,210,18,0,4,.,1156
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,...,1,1851,0,1851,0,19,0,17,.,1369
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,...,1,1961,1,1481,480,31,0,22,.,2916
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,...,0,2363,0,2363,0,8,1,9,.,900

In [5]:
data.columns #列名

Index(['age', 'black', 'case', 'clerical', 'constru', 'educ', 'earns74',
       'gdhlth', 'inlf', 'leis1', 'leis2', 'leis3', 'smsa', 'lhrwage',
       'lothinc', 'male', 'marr', 'prot', 'rlxall', 'selfe', 'sleep',
       'slpnaps', 'south', 'spsepay', 'spwrk75', 'totwrk', 'union', 'worknrm',
       'workscnd', 'exper', 'yngkid', 'yrsmarr', 'hrwage', 'agesq'],
      dtype='object')

In [7]:
data.values

array([[32, 0, 1, ..., 13, '7.070004', 1024],
       [31, 0, 2, ..., 0, '1.429999', 961],
       [44, 0, 3, ..., 0, '20.53', 1936],
       ...,
       [37, 0, 704, ..., 17, '.', 1369],
       [54, 0, 705, ..., 22, '.', 2916],
       [30, 0, 706, ..., 9, '.', 900]], dtype=object)